html{
	height:180%;
}
body{	
	background-image:linear-gradient(yellow,red,darkblue);
	background-repeat:no-repeat;
}
header{
	font-family:'Lobster';
	background:yellow;
	border-radius:50%;
	border-style:solid;
	border-width:5px;
}
.line1,.line2,.line3{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.line1{
	margin-top:3%;
}
.line2,.line3{
	margin-top:8%;
}
img{
	border-style:solid;
	padding:1px;
	borde-width:3px;
	border-radius:50%;
	width:280px;
	height:240px;	
		
}
