img{
	width: 500px;
	height: 300px;
	border-radius: 30%;
	cursor:pointer;
}
img:hover{
	border:solid;
	border-width:10px;
	padding:5px;
}
.sup{
	margin-left: 50%; 
	margin-top: -20%;
}
p{	
	font-size:17px;
	width:35%;
}
p:hover{
	color:red;
}
h1:hover{
	background: black;
}
.p1{	
	margin-left: 50%;
	margin-top: -15%;
}
.p2{	
	margin-top: 20%;
	margin-left:6%;
}
h1{
	border-radius: 50%;
	background: green;
	color: white;
}
body{
background:linear-gradient(white,CYAN,YELLOW,white);
}